.NavMenu {
  display: flex;
  flex-direction: column;

  /* width: 244px; */
  width: 12%;
  padding: 30px 0 20px 36px;

  background-color: #181818;

  transition: all 0.1s ease;
}

.NavMenu-Logo {
  margin-top: 8px;
  margin-bottom: 40px;

  width: 113px;
}

.NavMenu-Burger {
  font-size: 16px;
  line-height: 24px;
  width: 20px;
}

.NavMenu-Burger-Icon {
  color: #d3d3d3;
  transition: all 0.2s ease;
}

.NavMenu-Burger-Icon:hover {
  color: #acacac;
}

.NavMenu-Burger-Icon:active {
  color: #ffffff;
}

.NavMenu-List {
  display: flex;
  flex-direction: column;
}

.List-Button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-decoration: none;

  width: 100%;
  padding: 0;
  margin-bottom: 26px;

  background-color: transparent;

  transition: all 0.2s ease;
}

.List-Button:hover {
  color: #acacac;
}

.List-Button:active {
  color: #696969;
}

.Logout-Button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  text-align: left;
}

@media (max-width: 1439px) {
  .NavMenu,
  .Logout-Button {
    font-size: 12px;
  }

  .NavMenu-List li {
    margin-bottom: 6px;
  }
}
