.AlbumCover {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 250px;
  min-height: 150px;
  margin-bottom: 25px;
  padding: 15px;

  font-size: 24px;
  text-align: center;

  border-radius: 5px;

  transition: all 0.2s ease;
}

.AlbumCover:hover {
  filter: brightness(1.4) saturate(0.7);
}

.AlbumCover:active {
  filter: brightness(1.7);
}

@media (max-width: 1439px) {
  .AlbumCover {
    font-size: 18px;

    width: 190px;
    min-height: 125px;
  }
}

@media (max-width: 1199px) {
  .AlbumCover {
    font-size: 16px;

    width: 190px;
    min-height: 60px;

    margin-bottom: 18px;
    padding: 10px;

    border-radius: 4px;
  }
}
