.FilterButton-Wrapper {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.FilterButton {
  position: relative;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  height: 39px;
  padding: 0 20px;
  margin-right: 10px;

  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-radius: 60px;

  cursor: pointer;

  transition: all 0.2s ease;
}

.FilterButton:hover {
  color: #d9b6ff;
  border-color: #d9b6ff;
}

.FilterButton:active {
  color: #ad61ff;
  border-color: #ad61ff;
}

.FilterButton-NumberOfCheckedItems {
  position: absolute;
  top: -7px;
  left: -7px;

  width: 26px;
  height: 26px;

  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 26px;
  color: #ffffff;

  background: #ad61ff;
  border-radius: 50%;
}

@media (max-width: 1439px) {
  .FilterButton {
    font-size: 12px;
  }
}
