.Sidebar {
  max-width: 418px;
  width: 35%;
  padding: 30px 90px 85px 78px;
}

.Sidebar-User {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Sidebar-User-Name {
  margin: 0 0 0 auto;
}

.Sidebar-List {
  display: flex;
  flex-direction: column;

  padding-top: 260px;
}

@media (max-width: 1500px) {
  .Sidebar {
    width: 25%;
    padding: 30px 90px 85px 40px;
  }
}

@media (max-width: 1439px) {
  .Sidebar {
    width: 20%;
    padding: 30px 20px 85px 20px;
  }

  .css-1rxz5jq-MuiSelect-select-MuiInputBase-input-MuiInput-input {
    font-size: 10px;
  }

  .css-1tqk9ti {
    font-size: 12px;
  }
}
