.Karaoke {
    display: flex;
    height: 100%;
    flex: 1 1 auto;
}

.Karaoke-Content {
    flex: 1 1 auto;
    padding-top: 30px;
}

.Karaoke-Line {
    justify-content: center;
    display: flex;
    align-items: center;
    border: 1px solid #ffffff8c;
    margin: 0;
    text-align: center;
    width: 85%;
    margin: auto;
}

.muse-menu {
    display: none;
}

.muse-drawer {
    z-index: 0!important;
}

.muse-drawer__panel-toggler {
    display: none;
}

.muse-player.muse-layout-default {
    width: 100%!important;
}

.muse-drawer.muse-drawer__state-close {
    padding: 10% 15px 10px 15px!important;
}

.muse-drawer .muse-drawer__lyric .muse-lyric__text {
    transition: all 0.2s ease-in-out!important;
    font-size: 2.5rem!important;
}

.muse-drawer .muse-drawer__lyric .muse-lyric__state-active .muse-lyric__text {
    transform: scale(1.01);
    z-index: 10;
}

.muse-drawer .muse-drawer__lyric li  {
    margin: 20px 0px!important;
    list-style: none!important;
    line-height: 60px!important;
}

.muse-controller {
    z-index: 0!important;
}

.muse-progress {
    z-index: 0;
}

.muse-selector {
    display: none;
}

.muse-drawer .muse-drawer__playList .muse-playList__item.muse-playList__item-state-playing {
    visibility: hidden;
}

.Karaoke-Controls {
    margin: auto;
    max-width: 80%;
}

@media (max-width: 1080px) {
    .muse-drawer.muse-drawer__state-close {
        padding: 5%!important;
    }
    .muse-drawer .muse-drawer__lyric .muse-lyric__text {
        font-size: 2rem!important;
    }
}

@media (max-width: 900px) {
    .muse-drawer .muse-drawer__lyric .muse-lyric__text {
        font-size: 1.5rem!important;
    }
}

@media (max-width: 768px) {
    .muse-drawer.muse-drawer__state-close {
        padding: 2%!important;
    }
    .muse-drawer .muse-drawer__lyric .muse-lyric__text {
        font-size: 1.5rem!important;
    }
}

@media (max-width: 568px) {
    .muse-drawer .muse-drawer__lyric li {
        line-height: 40px!important;
        margin: 15px 0px!important;
    }
    .muse-drawer .muse-drawer__lyric .muse-lyric__text {
        font-size: 1.3rem!important;
    }
}