.Animation {
  text-align: left;
  background: transparent;
  width: 95%;
}

.Animation-Bar1,
.Animation-Bar2,
.Animation-Bar3,
.Animation-Bar4,
.Animation-Bar5,
.Animation-Bar6,
.Animation-Bar7 {
  height: 10px;
  margin-bottom: 7px;

  opacity: 0.9;

  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;

  transition: 0.5s;
  animation-timing-function: linear;
}

.Animation-Bar1 {
  width: 90%;
  transition: 0.5s;
  animation-delay: -1.9s;
}

.Animation-Bar2,
.Animation-Bar6 {
  width: 96%;
  animation-delay: -2.9s;
}

.Animation-Bar3 {
  width: 80%;
  animation-delay: -3.9s;
}

.Animation-Bar4 {
  width: 27%;
  animation-delay: -4.9s;
}

.Animation-Bar5 {
  width: 60%;
  animation-delay: -5.9s;
}

.Animation-Bar7 {
  width: 95%;
  transition: 0.5s;
  animation-delay: -6.1s;
}

@keyframes equalize {
  0% {
    width: 95%;
  }
  4% {
    width: 80%;
  }
  8% {
    width: 75%;
  }
  12% {
    width: 60%;
  }
  16% {
    width: 50%;
  }
  20% {
    width: 60%;
  }
  24% {
    width: 75%;
  }
  28% {
    width: 25%;
  }
  32% {
    width: 80%;
  }
  36% {
    width: 95%;
  }
  40% {
    width: 65%;
  }
  44% {
    width: 80%;
  }
  48% {
    width: 95%;
  }
  52% {
    width: 75%;
  }
  56% {
    width: 50%;
  }
  60% {
    width: 80%;
  }
  64% {
    width: 95%;
  }
  68% {
    width: 75%;
  }
  72% {
    width: 95%;
  }
  76% {
    width: 60%;
  }
  80% {
    width: 95%;
  }
  84% {
    width: 70%;
  }
  88% {
    width: 95%;
  }
  92% {
    width: 55%;
  }
  96% {
    width: 95%;
  }
  100% {
    width: 85%;
  }
}
