.Logo {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 46px;
}

@media (max-width: 1439px) {
  .Logo {
    font-size: 16px;
    margin-bottom: 30px;
  }
}

@media (max-width: 1199px) {
  .Logo {
    margin-bottom: 30px;
  }
}
