.Centerblock {
  width: auto;
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
  padding: 23px 40px 85px 111px;
}

.Centerblock-Input-Wrapper {
  position: relative;

  width: 100%;
  margin-bottom: 55px;

  background-color: transparent;

  border-bottom: 1px solid #4e4e4e;
}

.Centerblock-Input {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;

  width: 100%;
  height: 100%;
  padding: 10px 10px 10px 30px;

  background-color: transparent;

  border: none;
}

.Centerblock-Input-Icon {
  position: absolute;
  left: 5px;
  top: 6px;
}

.Centerblock-Title {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.8px;

  margin-bottom: 50px;
}

.Centerblock-Filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;

  margin-bottom: 51px;
}

.Centerblock-Filters-Text {
  margin-right: 15px;
}

.Content-Header {
  display: flex;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #696969;

  margin-bottom: 24px;
}

.Content-Track {
  width: 35%;
}

.Content-Singer {
  width: 25%;
}

.Content-Album {
  width: 30%;
}

.Content-Time {
  width: 10%;
}

.Content-Time img {
  display: block;
  margin: 0 0 0 auto;
}

.Content-Track-Info {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  width: 100%;
  margin-bottom: 6px;
}

.Content-Track-Icon {
  width: 5%;
}

.Content-Track-Name {
  width: 30%;
  padding-left: 2%;
}

.Content-Track-Author {
  width: 25%;
}

.Content-Track-Album {
  color: #696969;

  width: 30%;
}

.Content-Track-Like {
  width: 5%;
}

.Content-Track-Like-Icon {
  color: #696969;
}

.Content-Track-Duration {
  color: #696969;
  width: 5%;
  text-align: right;
}
