.Centerblock {
  /* width: auto; */
  width: 53%;
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
  padding: 23px 40px 85px 111px;
}

.Centerblock-Input-Wrapper {
  position: relative;

  width: 100%;
  margin-bottom: 55px;

  background-color: transparent;
}

.css-1wgtpfo-MuiInputBase-root-MuiInput-root:before {
  border-bottom: 1px solid rgba(160, 160, 160, 0.42) !important;
}

.css-1wgtpfo-MuiInputBase-root-MuiInput-root:hover:not(.Mui-disabled):before {
  border-bottom: 1px solid rgb(255 255 255 / 42%) !important;
}

.Centerblock-Input-Icon {
  position: absolute;
  left: 5px;
  top: 6px;
}

.Content-Header {
  display: flex;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #696969;

  margin-bottom: 24px;
}

.Content-Track {
  width: 35%;
}

.Content-Singer {
  width: 25%;
}

.Content-Album {
  width: 30%;
}

.Content-Skeleton {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  width: 100%;
  min-height: 51px;
  margin-bottom: 6px;
}
