.Centerblock {
  width: 53%;
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
  padding: 23px 40px 85px 111px;
}

.Centerblock-Input-Wrapper {
  position: relative;

  width: 100%;
  margin-bottom: 55px;

  background-color: transparent;
}

.css-1wgtpfo-MuiInputBase-root-MuiInput-root:before {
  border-bottom: 1px solid rgba(160, 160, 160, 0.42);
}

.css-1wgtpfo-MuiInputBase-root-MuiInput-root:hover:not(.Mui-disabled):before {
  border-bottom: 1px solid rgb(255 255 255 / 42%);
}

.Centerblock-Input-Icon {
  position: absolute;
  left: 5px;
  top: 6px;
}

.Centerblock-Header {
  font-size: 60px;
  font-weight: 400;
  margin-bottom: 45px;
}

@media (max-width: 1439px) {
  .Centerblock {
    padding-left: 45px;
    width: 68%;
  }

  .css-1k5niar-MuiFormControl-root-MuiTextField-root input {
    font-size: 12px;
  }

  .Centerblock-Header {
    font-size: 45px;
    margin-bottom: 35px;
  }
}

@media (max-width: 1199px) {
  .Centerblock-Input-Wrapper {
    padding-right: 185px;
  }
}

@media (max-width: 767px) {
  .Centerblock {
    width: 100%;
    padding-right: 20px;
    padding-left: 15px;
  }

  .Centerblock-Input-Wrapper {
    padding-left: 30px;
    margin-bottom: 20px;
    padding-top: 0;
  }

  .Centerblock-Header {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

@media (max-width: 549px) {
  .Centerblock-Input-Wrapper {
    padding-left: 0;
    padding-top: 110px;
    padding-right: 0;
  }
}
