.Centerblock {
  /* width: auto; */
  width: 53%;
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
  padding: 23px 40px 85px 111px;
}

.Centerblock-Input-Wrapper {
  position: relative;

  width: 100%;
  margin-bottom: 55px;

  background-color: transparent;
}

.css-1wgtpfo-MuiInputBase-root-MuiInput-root:before {
  border-bottom: 1px solid rgba(160, 160, 160, 0.42) !important;
}

.css-1wgtpfo-MuiInputBase-root-MuiInput-root:hover:not(.Mui-disabled):before {
  border-bottom: 1px solid rgb(255 255 255 / 42%) !important;
}

.Centerblock-Input-Icon {
  position: absolute;
  left: 5px;
  top: 6px;
}
