.Profile {
  width: auto;
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
  padding: 23px 40px 85px 111px;
}

.Profile-Data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Profile-UserData {
  font-size: 20px;
}

.Profile-Header {
  margin-top: 30px;
}

.Profile-Header-Main {
  font-size: 60px;
  font-weight: 400;
  margin-top: 95px;
  margin-bottom: 45px;
}

.Profile-Custom {
  display: flex;
  gap: 30px;
}

.Profile-CustomBgColor,
.Profile-CustomTextColor,
.Profile-CustomDecorativeColor {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.Profile-InputBgColor,
.Profile-InputTextColor,
.Profile-InputDecorativeColor {
  width: 50px;
  height: 50px;

  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.Profile-Button {
  font-family: inherit;
  text-transform: uppercase;
  padding: 10px 15px;
}

@media (max-width: 1439px) {
  .Profile-Header-Main {
    font-size: 45px;
  }

  .Profile-Header {
    font-size: 12px;
  }

  .Profile-UserData {
    font-size: 16px;
  }
}

@media (max-width: 1439px) {
  .Profile {
    padding-left: 45px;
    width: 68%;
  }
}

@media (max-width: 767px) {
  .Profile {
    width: 100%;
    padding-right: 20px;
  }

  .Profile-Header-Main {
    font-size: 40px;
    margin-bottom: 20px;
  }
}

@media (max-width: 549px) {
  .Profile {
    padding-left: 20px;
  }
}
